.latest_blog {
    position: relative;
    margin-top: 50px;
  }
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 10px;
    position: relative;
  }
  .latest_blog_post {
    height: auto;
  }

  h2.raleway_black_24 {
    font-size: 40px;
    font-weight: 900;
  }

  .latest_post_card {
    margin-top: 50px;
  }
  .blog_post {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 7px;
    transition: 0.4s;
    cursor: pointer;
  }
  .blog_img {
    overflow: hidden;
  }
  .blog_post:hover {
    opacity: 1;
    border: 0 rgba(255, 0, 0, 0);
    border-radius: 8px;
    padding: 0;
    background-color: var(--white-color);
    transform: translate(0);
    box-shadow: 0 2px 23px rgba(0, 0, 0, 0.09);
  }
  .blog_post img:nth-child(1) {
    border-radius: 7px 7px 0 0;
    width: 100%;
    transition: 0.3s;
  }
  .blog_post:hover img {
    transform: scale(1.1);
}
  .urbanist_black_18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    color: #14161b;
    transition: 0.4s;
    cursor: pointer;
  }
  .urbanist_black_18:hover{
    color: var(--main-color);
  }
  .blog_img {
    width: 100%;

  }
  .about_blog {
    padding: 32px 14px;
    display: flex;
    flex-direction: column;
    grid-gap: 8px;
    gap: 8px;
    transition: 0.4s;
    align-items: flex-start;
    border-radius: 0 0 7px 7px;
}
.about_blog button{
  background: #7a22e613;
  color: var(--black-color);
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  border-radius: px;
  margin-bottom: 5px;
}
  .post_card{
    height: 100%;
  }
  .blog_img img {
    width: 100%;
  }
  p.raleway_grey_16 {
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  .space {
    padding: 0 10px;
  }
.author_name_post {
    color: var(--second-color);
  }
  
  
.slider_nav.latest_post_nav_arrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    margin-top: 0;
  }


  .slider_nav {
    display: flex;
    align-items: center;
    margin-top: 30px;
  }
  
  
  @media screen and (max-width: 768px) {
    h2.raleway_black_24 {
        font-size: 20px;
      }
  }
  