
.slider_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container{
  max-width: 1200px;
  margin: auto;
  padding: 0 10px;
  position: relative;
}
.portfolios_card {
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  cursor: pointer;
  transition: 0.4s;
}
.portfolios_card:hover {
  background: var(--white-color);
  box-shadow: 0px 24.63961px 44.58943px 0px rgba(0, 0, 0, 0.05);
}
.portfolios_card:hover .portfolios_item_img {
  transform: scale(1.05);
}
.portfolios_item_img:nth-child(1) {
  width: 100%;
  transition: 0.3s;
}
.portfolios_item_img img{
  width: 100%;
}
.portfolios_item_title {
  padding: 20px 30px 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.portfolios_item_title p {
  color: #878787;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.798px;
}
.portfolios_item_title h4 {
  color: #14161b;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  padding-bottom: 10px;
  position: relative;
}

.portfolios_item_title .portfolio_read_more_btn{
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 110%;
  border-radius: 50px;
  padding: 15px 30px;
  width: fit-content;
  background: var(--main-color);
}