.left-sidebar {
  background: #851dd7;
  width: 260px;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  color: #eaeaea;
  font-size: 15px;
  z-index: 2;
  transition: margin-left 0.25s ease;
  min-height: 93vh;
}
.sidebar-wrapper {
  padding: 25px 0 30px 30px;
  position: relative;
  height: 100vh;
  overflow-y:auto;
}
.sidebar-menu h2 {
  color: #fff;
  margin-bottom: 22px;
  font-size: 20px;
}
.dashboad-logo {
  width: 150px;
  margin-bottom: 25px;
}

ul.sidebar-list li a {
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  transition: 0.4s;
  padding: 10px 20px;

}
ul.sidebar-list li a span{
font-size: 20px;
color: var(--white-color);
}

ul.sidebar-list li a.active,
ul.sidebar-list li a:hover {
  background: var(--white-color);
  color: var(--color);
}

ul.sidebar-list li a.active span,
ul.sidebar-list li a:hover span {
  color: var(--color);
}
.qr-sidebar-left {
  position: absolute;
  width: 260px;
  padding: 20px 25px 45px 25px;
  bottom: 0%;
  left: 0;
  color: #fff;
  background: var(--main-color);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.qr-sidebar-left h3 {
  padding-bottom: 15px;
  font-size: 15px;
}
.qr-sidebar-left-btn {
  background: #fff;
  color: #000;
}
.qr-sidebar-left-btn:hover {
  color: #000;
}
.dashboard-content {
  height: 100%;
  width: 100%;
  min-height: 75vh;
  position: relative;
  margin-bottom: 50px;
  padding-left: 260px;
  transition: padding-left 0.25s ease;
}
.dashboard-content-wrapper {
  width: calc(100% - 70px);
  margin: 120px auto 24px auto;
  opacity: 1;
  transition: width 0.15s ease-in-out;
}

.qr-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.qr-count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.qr-count p span {
  color: #7922e6;
}
.qr-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ========= Dashboard Header ========== */
.dasboard-menu{
  display:none;
}
.dasboard-menu span{
  color:var(--second-color);
  font-size:20px;
}
.dashboard-header{
  position: relative;
  padding-left: 260px;
}
.dasboard_header_menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 20px;
  gap: 20px;
  height: 80px;
  background: var(--white-color);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
  position: fixed;
  width: calc(100% - 240px);
  top: 0;
  z-index: 11;
  padding-right: 20px;
}
.dashboard-profile{
  position: relative;
  padding-right: 30px;
}
.dashboard-profile-username{
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard-profile-username span{
  font-size: 20px;
  color: var(--second-color);
}
.user-profile-content {
  padding: 15px 25px;
  position: absolute;
  right: 30px;
  top: 42px;
  width: 200px;
  background: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
}
.user-profile-content ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.user-profile-content ul li{
  background: #cdceda87;
  width: 100%;
  cursor: pointer;
  color: var(--color);
  border-radius: 4px;

}
.user-profile-content ul li:hover{
  background: var(--main-color);
  color: var(--white-color);
}
.user-profile-content ul li .user-profile-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.user-profile-list span{
  font-size: 17px;
}

button.submit-form {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  border: none;
  outline: none;
  background: #ffb317;
  color: #fff;
  padding: 6px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.create-submit-btn {
  margin-top: 0;
  margin-bottom: 0;
}

.qr-list {
  padding-top: 15px;
}
ul.qe-ul li {
  background: #fff;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px -2px rgba(27, 41, 75, 0.12),
    0 3px 4px 0 rgba(27, 41, 75, 0.12), 0 1px 5px 0 rgba(27, 41, 75, 0.12);
}
.compnay-info {
  display: flex;
  gap: 20px;
}

.compnay-name-info p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.compnay-name-info h3 {
  color: #000;
}

.qr-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.details a {
  color: var(--color);
}

.scan {
  color: #b5b5b5;
}
.qr-action {
  display: flex;
  align-items: center;
  gap: 10px;
}
.qr-create-item {
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  width: 254px;
  z-index: 1;
  background: #fff;
  box-shadow: 5px 5px 10px #ddd;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.qr-create-item.active {
  display: block;
}
.qr-create-button {
  position: relative;
}
.qr-create-item ul li {
  margin-bottom: 10px;
}
.qr-create-item ul li a {
  color: #000;
  font-size: 16px;
  transition: o.4s;
}
.qr-create-item ul li a:hover{
    color: #7922e6;
}
.business-progress-bar{
padding-bottom: 35px;
}
.business-progress-bar h1{
font-size: 20px;
font-weight: 600;
}
.step-progress-bar{
  width: 100%;
  background: #eaeaea;
  height: 5px;
  border-radius: 4px;
margin-bottom: 20px;

}
.step-progress-bar-item{
  background:var(--main-color);
  height: 100%;
  border-radius: 4px;
}
.step-btn-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  gap: 20px;
}
.step-btn-item button{
  width: 150px;
}


/* =============== Dashboard ================ */


.busines-name-welcome p{
  color: #969595;
}
.busines-name-welcome h3{
  font-size: 25px;
  font-weight: 700;
}
.order-sale-item-con{
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
box-shadow: 0 20px 25px -5px #f3e8ff,0 8px 10px -6px #f3e8ff;
}

.order-sale-item-con .order-sale-item p{
  color: #969595;
}
.order-sale-item-con .order-sale-item h3{
  font-size: 24px;
  font-weight: 700;
}
.order-sale-item-con .order-sale-item small{
  color: #969595;
  font-size: 12px;
}
.order-sale-item-con .order-sale-item span{
color: var(--color);
font-size: 30px;
}
.add-product-item-card{
  border: 1px dashed #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;  
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: 0 20px 25px -5px #f3e8ff,0 8px 10px -6px #f3e8ff;
}
.add-product-item-card span{
  font-size: 30px;
  color: var(--color);
}
.shop-details-card{
  border: 1px solid #e5e7eb;
}
.shop-details-card .shop-details-title{
  width: 100%;
}
.shop-details-card .shop-details-title h4 {
  margin-top: 10px;
}
 .shop-details-title h4 {
  font-size: 20px;
  font-weight: 700;
}
.shop-details-card .shop-copy-link{
  padding: 10px 20px ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background: #e5e7eb9c;
  border-radius: 5px;
  width: 100% ;
  position: relative;
}
.shop-details-card .shop-copy-link .copy-icon{
  font-size: 20px;
  color: var(--color);
}
.shop-details-card .shop-copy-link .copy-icon span{
  font-size: 14px;
  color: var(--second-color);
}
.shop-product-stack-item{
  border: 1px solid #e5e7eb;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  padding: 20px 20px;
  box-shadow: 0 20px 25px -5px #f3e8ff,0 8px 10px -6px #f3e8ff;

}
.shop-product-stack-item .table-container{
  font-size: 14px;
  margin-top: 20px; 
}


/* ========== Manage Shop ============= */
.form-input-wrapper{
  border: 1px solid #e5e7eb;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  box-shadow: 0 20px 25px -5px #f3e8ff,0 8px 10px -6px #f3e8ff;
}
.dashboard-content-wrapper .form-input-header{
  padding: 30px 20px;
  border-bottom: 1px solid #e5e7eb;
}
.dashboard-content-wrapper .form-input-header h2{
  font-size: 20px;
  font-weight: 700;
}
.dashboard-content-wrapper .form-input-body{
  padding: 20px 20px 40px 20px;
}
.dashboard-content-wrapper .form-input-item {
display: flex;
flex-direction: column;
gap: 10px;
margin-bottom: 15px;
width: 100%;
}
.dashboard-content-wrapper .form-input-item input{
  padding: 12px 20px  ;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
}
.dashboard-content-wrapper .form-input-item textarea{
  padding: 12px 20px  ;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
}
.dashboard-content-wrapper .form-input-item select{
  padding: 12px 20px  ;
  border-radius: 4px;
  border: 1px solid #e5e7eb;
  font-size: 17px;
  font-weight: 500;
}
.dashboard-content-wrapper .form-input-item input:focus{
box-shadow: 0 0 0 1px var(--color);
}
.dashboard-content-wrapper .form-input-item .form-select:focus{
box-shadow: 0 0 0 1px var(--color);
}
.dashboard-content-wrapper .form-input-item textarea:focus{
box-shadow: 0 0 0 1px var(--color);
}
.dashboard-content-wrapper  .form-input-body h3{
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.form-input-qr-code{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.shop-copy-links{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  border-radius: 4px;
  padding: 10px 20px ;
  justify-content: space-between;
  background: #e5e7eb9c;
}
.shop-copy-links h5{
  font-size: 14px;
  width: 60%;
}
.shop-logo-item{
  margin-bottom: 10px;
  width: 200px;
}
.shop-color-item input{
  margin-bottom: 10px;
  width: 100%;
  height: 150px;
  border: none;
  border-radius: 4px;
}
.delivery-charge-list{
  display: flex;
  align-items: center;
  gap: 15px;
}
.delivery-charge-list .delivery-add-btn{
  width: fit-content;
  padding: 12px 20px;
  color: var(--white-color);
  background: var(--main-color);
  border-radius: 4px;
}


/* ============== Product Shop ======== */

.product-shop-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
.product-shop-search{
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #e5e7eb;
  padding: 10px 20px;
  width: 100%;
  width: 100%;
  border-radius: 50px;
}
.product-shop-search input{
  border: none;
}
.add-product-shop{
width: 250px;
}
.product-shop-items ul {
  display:flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}
.product-shop-items ul .product-shop-item{
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #e5e7eb;
}
.product-shop-items ul .product-shop-item.active{
  cursor: pointer;
  padding: 10px;
  color: var(--color);
  border-bottom: 1px solid  var(--color);
}
.product-shop-item-content{
  display: none;
}
.product-shop-item-content.active{
  display:block;
}
.product-shop-item-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
.product-shop-item-card{
display: flex;
flex-direction: column;
gap: 15px;
cursor: pointer;
border-radius: 10px;
overflow: hidden;
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px -1px rgba(0,0,0,.1);
}
.product-shop-item-card .product-img{
  width: 100%;
}
.product-shop-item-card .product-img img{
  width: 100%;
}
 .product-title{
  font-size: 16px;
  font-weight: 600;

}
.product-shop-price-item{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}
.product-shop-price-item p{
  font-size: 14px;
}
.product-shop-content{
  padding:0 10px 10px 10px;
}
.product-shop-btn{
  padding: 5px 15px;
  width: 100%;
  color: var(--white-color);
  margin-top: 10px;
}
.product-shop-btn button{
  text-align: center;
  font-size: 16px;
  color: var(--white-color);

}
.dasbhoard-header-title{
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.category-product-item {
  width: 100%;
}
.category-product-item .form-input-item{
margin-bottom: 0;
}
.category-product-item .form-select{
  width: 100%;
}
.category-product-items button{
  padding: 10px 20px;
}
.category-product-items button span{
  font-size: 20px;

}
.product-status-con{
  border-bottom: 1px solid #e5e7eb;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.product-status-item{
  display: flex;
  align-items: center ;
  gap: 10px;
}
.product-status-item p{
  color: var(--color);
}
.product_shop_title{
  margin-bottom: 0!important;
  
}
.detail_danger{
  font-size: 25px;
  color: rgb(247, 2, 2);
  margin-bottom: 15px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.upload-btn {
  border: 1px dashed #e5e7eb;
  color: var(--second-color);
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  height: 100px;
}
.upload-btn span{
  font-size: 25px;
}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  height: 100%;
}
.product-upload-img-card{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.uploaded-image-container{
  width: 100%;
  position: relative;
  margin-top: 15px;
}
.uploaded-image-remove{
  position: absolute;
  top: 5px;
  right: 5px;

width: 35px;
padding: 5px;
height: 35px;
  background: #ffffffac;
  color: red;
  font-size: 25px;
  border-radius: 100%;  
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploaded-image-container img{
  width: 100%;
}

/* ==================== Category ========== */
.category-item-card{
  border: 1px dashed #e5e7eb;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  gap: 10px;
  margin-bottom: 15px;
  justify-content: space-between;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
}
.category-item-right button{
  padding: 10px 15px;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
  transition: 0.4s;
  font-size: 25px;
}
.category-item-right button:hover{
  background: red;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}
.category-item-left{
  cursor: pointer;
  width: 100%;
}
.category-item-left h4{
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 5px;
}
.category-item-left p{
  font-size: 15px;
}

/* ============ Order Page ========= */
.order-all-table{
  min-height: 400px;
}
.order-all-table .table thead tr th{
  font-size: 16px;
  font-weight: 600;
}
.order-all-table .table thead{
  background-color: red !important;
}
.order-all-table .table tbody tr td{
  font-size: 14px;
  font-weight: 600;
  color: #00000068;
  text-align: center;
}
.order-table-footer-item p{
  white-space: nowrap;
}

/* =============== Report Page =========== */
.reports-card-item{
  font-size: 14px;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  margin-bottom: 15px;
  cursor: pointer;
}
.reports-card-item:hover{
  box-shadow:  0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);;
}
.reports-card-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
} 
.reports-btns ul li{
  gap: 10px;
  display: flex;
}
.reports-btns button{
  padding: 0px 10px; 
  border-radius: 50px;
  margin-right: 5px;
}
.reports-btns .online-btn{
  color:rgb(84 29 255) ;
  background: rgba(86, 29, 255, 0.156);
}
.reports-btns .completed-btn{
  color: rgb(0, 128, 0) ;
  background: rgba(3, 186, 3, 0.107);
}

/* =============== Manage User page ============== */
.manage-user-wrapper{
  border: 1px solid #e5e7eb;
  width: 100%;

  height: 100%;
  border-radius: 10px;

  box-shadow: 0 20px 25px -5px #f3e8ff,0 8px 10px -6px #f3e8ff;
}
.reports-header {
  padding: 30px 20px;
  border-bottom: 1px solid #e5e7eb;
}
.reports-header .reports-header-title{
font-size: 20px;
font-weight: 700;
}
.manage-user-body{
  background-color: rgb(229 231 235);
  border-radius: 10px;
}
.manage-user-item{
  padding: 20px 20px 40px 20px;
}