.left-sidebar {
  background: #851dd7;
  width: 260px;
  position: fixed;
  top: 0px;
  left: 0;
  bottom: 0;
  color: #eaeaea;
  font-size: 15px;
  z-index: 2;
  transition: margin-left 0.25s ease;
  min-height: 93vh;
}
.sidebar-wrapper {
  padding: 25px 0 30px 30px;
  position: relative;
  height: 100vh;
  overflow-y:auto;
}
.sidebar-menu h2 {
  color: #fff;
  margin-bottom: 22px;
  font-size: 20px;
}
.dashboad-logo {
  width: 150px;
  margin-bottom: 25px;
}

ul.sidebar-list li a {
  display: flex;
  color: #fff;
  gap: 10px;
  align-items: center;
  margin-bottom: 5px;
  transition: 0.4s;
  padding: 10px 20px;

}
ul.sidebar-list li a span{
font-size: 20px;
color: var(--white-color);
}

ul.sidebar-list li a.active,
ul.sidebar-list li a:hover {
  background: var(--white-color);
  color: var(--color);
}

ul.sidebar-list li a.active span,
ul.sidebar-list li a:hover span {
  color: var(--color);
}
.qr-sidebar-left {
  position: absolute;
  width: 260px;
  padding: 20px 25px 45px 25px;
  bottom: 0%;
  left: 0;
  color: #fff;
  background: var(--main-color);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
}

.qr-sidebar-left h3 {
  padding-bottom: 15px;
  font-size: 15px;
}
.qr-sidebar-left-btn {
  background: #fff;
  color: #000;
}
.qr-sidebar-left-btn:hover {
  color: #000;
}
.dashboard-content {
  height: 100%;
  width: 100%;
  min-height: 75vh;
  position: relative;
  margin-bottom: 50px;
  padding-left: 260px;
  transition: padding-left 0.25s ease;
}
.dashboard-content-wrapper {
  width: calc(100% - 70px);
  margin: 120px auto 24px auto;
  opacity: 1;
  transition: width 0.15s ease-in-out;
}

.qr-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.qr-count {
  display: flex;
  align-items: center;
  gap: 20px;
}

.qr-count p span {
  color: #7922e6;
}
.qr-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ========= Dashboard Header ========== */
.dasboard-menu{
  display:none;
}
.dasboard-menu span{
  color:var(--second-color);
  font-size:20px;
}
.dashboard-header{
  position: relative;
  padding-left: 260px;
}
.dasboard_header_menu{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 20px;
  gap: 20px;
  height: 80px;
  background: var(--white-color);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
  position: fixed;
  width: calc(100% - 240px);
  top: 0;
  z-index: 11;
  padding-right: 20px;
}
.dashboard-profile{
  position: relative;
  padding-right: 30px;
}
.dashboard-profile-username{
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard-profile-username span{
  font-size: 20px;
  color: var(--second-color);
}
.user-profile-content {
  padding: 15px 25px;
  position: absolute;
  right: 30px;
  top: 42px;
  width: 200px;
  background: #FFF;
  border: 1px solid #ddd;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1);
}
.user-profile-content ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.user-profile-content ul li{
  background: #cdceda87;
  width: 100%;
  cursor: pointer;
  color: var(--color);
  border-radius: 4px;

}
.user-profile-content ul li:hover{
  background: var(--main-color);
  color: var(--white-color);
}
.user-profile-content ul li .user-profile-list {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}
.user-profile-list span{
  font-size: 17px;
}

button.submit-form {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  border: none;
  outline: none;
  background: #ffb317;
  color: #fff;
  padding: 6px 20px;
  border-radius: 50px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  gap: 5px;
  justify-content: center;
  align-items: center;
}
.create-submit-btn {
  margin-top: 0;
  margin-bottom: 0;
}

.qr-list {
  padding-top: 15px;
}
ul.qe-ul li {
  background: #fff;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
  box-shadow: 0 3px 3px -2px rgba(27, 41, 75, 0.12),
    0 3px 4px 0 rgba(27, 41, 75, 0.12), 0 1px 5px 0 rgba(27, 41, 75, 0.12);
}
.compnay-info {
  display: flex;
  gap: 20px;
}

.compnay-name-info p {
  display: flex;
  align-items: center;
  gap: 10px;
}

.compnay-name-info h3 {
  color: #000;
}

.qr-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.details a {
  color: var(--color);
}

.scan {
  color: #b5b5b5;
}
.qr-action {
  display: flex;
  align-items: center;
  gap: 10px;
}
.qr-create-item {
  display: none;
  position: absolute;
  top: 42px;
  right: 0;
  width: 254px;
  z-index: 1;
  background: #fff;
  box-shadow: 5px 5px 10px #ddd;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.qr-create-item.active {
  display: block;
}
.qr-create-button {
  position: relative;
}
.qr-create-item ul li {
  margin-bottom: 10px;
}
.qr-create-item ul li a {
  color: #000;
  font-size: 16px;
  transition: o.4s;
}
.qr-create-item ul li a:hover{
    color: #7922e6;
}
.business-progress-bar{
padding-bottom: 35px;
}
.business-progress-bar h1{
font-size: 20px;
font-weight: 600;
}
.step-progress-bar{
  width: 100%;
  background: #eaeaea;
  height: 5px;
  border-radius: 4px;
margin-bottom: 20px;

}
.step-progress-bar-item{
  background:var(--main-color);
  height: 100%;
  border-radius: 4px;
}
.step-btn-item{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  gap: 20px;
}
.step-btn-item button{
  width: 150px;
}
@media screen and (max-width: 1200px) {
  .qr-sidebar-left {
    position: relative;
    width: 100%;
    padding: 20px 25px 25px 25px;
  }
}
