.is-sticky.menu-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111;
  box-shadow: 0 3px 3px -2px rgba(27,41,75,0.12), 0 3px 4px 0 rgba(27,41,75,0.12), 0 1px 8px 0 rgba(27,41,75,0.12);
}
.dp-menu {
  width: 100vw;
  position: absolute;
  background: var(--white-color);
  border-radius: 12px;
  right: 0;
  transform: translateY(31px);
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  padding: 35px 10px;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 10%);
  z-index: 99;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  left: 0;
  -webkit-transform: translateY(31px);
  -moz-transform: translateY(31px);
  -ms-transform: translateY(31px);
  -o-transform: translateY(31px);
}
.dp-link {
  width: 100%;
  padding: 2px 15px;
  color: var(--second-color);
  transition: 0.3s;
  display: flex;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
  cursor: pointer;
  border-radius: 61px;
}
.dp-link:hover {
  background: #7a22e613;
  color: #7922e6;
}
.language-select:hover .dp-menu {
  transform: translateY(-0px);
  opacity: 1;
  visibility: visible;
}
.social {
  margin-left: 12px;
}
ul.dp-menu-ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

/* ================================main nav========================= */
.menu-nav-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
ul.nav-menu {
  display: flex;
  align-items: center;
}
.search-bar {
  border: 2px solid #ddd;
  border-radius: 30px;
  padding: 5px 20px;
}
.search-bar input {
  border: none;
  background: none;
  font-size: 16px;
}
.search-bar button {
  border: none;
  background: none;
  font-size: 17px;
  color: var(--main-color);
}
.nav-list a {
  font-weight: 600;
  color: var(--second-color);
  padding: 0 20px;
  font-size: 16px;
}
.nav-list-active a {
  color: #6c54ea;
  font-weight: 600;
  font-size: 16px;
  padding: 0 20px;
}
.nav-link {
  font-weight: 600;
  color: var(--second-color);
  transition: 0.3s;
  padding: 0 20px;
  display: flex;
  font-size: 16px;
  gap: 5px;
}
.nav-link span {
  margin-top: 3px;
  font-size: 15px;
}
.nav-link:hover {
  color: var(--main-color);
}
.nav-link.login-btn {
  background: linear-gradient(90deg, #7922e6 6.15%, #9d32fa 99.99%);
  color: var(--white-color);
  padding: 6px 30px;
  border-radius: 30px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.nav-link.login-btn i {
  margin-right: 13px;
}
.menu-nav {
  padding: 17px 0;
  background: var(--white-color);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 111;
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 3px -2px rgba(27,41,75,0.12), 0 3px 4px 0 rgba(27,41,75,0.12), 0 1px 8px 0 rgba(27,41,75,0.12);
  background-color: rgba(255, 255, 255, 0.75);
}
.nav-link.login-btn {
  text-align: center;
}
.close-nav {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  /* box-shadow: 1px 1px 1px 1px #ddd; */
  cursor: pointer;
  color: var(--second-color);
  display: none;
}
.open-mobile-menu {
  width: 40px;
  font-size: 30px;
  color: var(--second-color);
  cursor: pointer;
  display: none;
}
.close-d {
  display: block;
}
.multi-text p {
  font-size: 14px;
}
.blocks-wrapper {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
}
.pop-hover {
  position: relative;
  z-index: 1;
}
.pop-hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  height: 100%;
  background: linear-gradient(90deg, #7922e6 6.15%, #9d32fa 99.99%);
  animation: pop-hover 1500ms ease-out infinite;
  border-radius: 30px;
  -webkit-animation: pop-hover 1500ms ease-out infinite;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  z-index: -1;
}
@keyframes pop-hover {
  0% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    opacity: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.3);
    -moz-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    -ms-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
    -o-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.3);
  }
}
/* ========================dp menu========================= */

.dp-menu.active {
  display: block !important;
}
.icon-add {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
}
.icon-add img {
  width: 100%;
  height: 100%;
}
.dp-link:hover .icon-add svg path {
  fill: var(--main-color);
}
.icon-add svg path {
  transition: 0.3s;
}
h4.nav-title {
  font-weight: 700;
  line-height: 114%;
  font-size: 15px;
}
.let-talk-btn{
  display: flex;
  align-items: center;
  gap: 10px;
}
/* ====================media====================== */
@media screen and (min-width: 1200px) {
  .nav-list:hover .dp-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(7px);
  }
}
@media screen and (max-width: 1200px) {
  .dp-menu {
    width: -moz-fit-content;
    width: fit-content;
    display: none !important;
    position: static;
    position: initial;
    background: none;
    border-radius: 12px;
    right: 0;
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    padding: 0 0 15px 0px;
    padding-bottom: 29px;
    overflow: hidden;
    box-shadow: none;
    z-index: 99;
    left: 0;
  }
  .open-mobile-menu {
    display: block;
  }
  .close-d {
    display: block;
  }
  .close-nav {
    display: flex;
    position: absolute;
    right: 0;
  }
  ul.nav-menu {
    display: block;
    padding: 30px;
  }
  .nav-link {
    justify-content: center;
  }
  .nav-list-active {
    display: flex;
    justify-content: center;
  }
  .nav-list a {
    display: flex;
    justify-content: center;
  }
  li.nav-list {
    padding: 10px 0;
  }
  .menu-nav-inner-right {
    position: fixed;
    top: 0;
    right: -110%;
    bottom: 0;
    min-height: 100vh;
    background: #ffffff;
    width: 392px;
    z-index: 99;
    padding: 15px;
    transition: 0.3s;
  }
  .dp-link {
    font-size: 17px;
  }
  .menu-nav-inner-right.active {
    right: 0;
    overflow-y: scroll;
  }
  a.nav-link {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
  }
  a.nav-link.login-btn {
    text-align: center;
    justify-content: center;
  }
  .let-talk-btn {
    display: none;
  }
  ul.dp-menu-ul {
    display: grid;
    grid-template-columns: 1fr;
  }
  .dp-menu {
    right: 0;
  }
  .dp-link {
    padding: 8px 15px;
  }
  h4.nav-title {
    line-height: 140%;
    padding-bottom: 5px;
  }
  .multi-text p{
    line-height: 20px;
  }
}
@media screen and (max-width: 500px) {
  .menu-nav-inner-right {
    width: 100%;
  }
  .menu-nav {
    padding: 15px 0;
  }
}
