
@media screen and (max-width: 1240px) {
.dasboard-menu {
    display: block;
    padding-left: 20px;
}
.dasboard_header_menu{
  justify-content: space-between;
}
.left-sidebar{
  transition: 0.5s;
margin-left: -100%;
}
.left-sidebar.active{
z-index: 1111;
margin-left: 0%;
}

.dashboard-header {
    position: relative;
    padding-left: 0px;
}
.dashboard-content {
    padding-left: 0px;
}
.dashboad-close-menu{
  display: flex;
    width: 30px;
    height: 30px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
}
@media screen and (max-width: 1200px) {
    .qr-sidebar-left {
      position: relative;
      width: 100%;
      padding: 20px 25px 25px 25px;
    }
  }
  
@media screen and (max-width: 568px) {
  .model {
  padding: 20px;
  max-width: 90%;
  max-height: 100%;
}
.model-content-wrapper{
  width: 100%;
}
  }
  