
@media screen and (max-width: 1240px) {
.dasboard-menu {
    display: block;
    padding-left: 20px;
}
.dasboard_header_menu{
  justify-content: space-between;
}
.left-sidebar{
  transition: 0.5s;
margin-left: -100%;
}
.left-sidebar.active{
z-index: 1111;
margin-left: 0%;
}

.dashboard-header {
    position: relative;
    padding-left: 0px;
}
.dashboard-content {
    padding-left: 0px;
}
.dashboad-close-menu{
  display: flex;
    width: 30px;
    height: 30px;
    background: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.dasboard_header_menu{
  width: 100%;
  padding-right: 0;
  height: 70px;
}
.dasboard-menu span{
  font-size: 25px;
}
.dashboard-content-wrapper {
  margin: 95px auto 24px auto;
  width: 100%;
  padding: 0 15px;
}
.reports-header {
  padding: 20px 0px;
  border-bottom: 1px solid #e5e7eb;
}
.qr-sidebar-left {
  position: relative;
  width: 100%;
  padding: 20px 25px 25px 25px;
}
.product-shop-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
}

  
@media screen and (max-width: 992px) {
  .order-sale-item-con {
    padding: 10px 15px;
    height: 130px;
  margin-bottom: 20px;
}
.product-shop-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
}
@media screen and (max-width: 768px) {
  .add-product-item-card {
    height: 200px;
    margin-bottom: 30px;
}
.shop-details-card{
  height: 100%;
}
.product-shop-item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
}
.shop-product-stack-item {
  height: fit-content;
  margin-bottom: 25px;
}
.delivery-charge-list {
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-bottom: 10px;
}
.dashboard-content-wrapper .form-input-item input {
  width: 100%;
}
.delivery-charge-list .delivery-add-btn {
  width: 100%;
}
}
@media screen and (max-width: 568px) {
  .model {
  padding: 20px;
  max-width: 90%;
  max-height: 100%;
}
.model-content-wrapper{
  width: 100%;
}
.model-overlay .model {
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
}
.dropdown-header {
  width: 150px;
}
.product-shop-item-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  gap: 20px;
}
.login-wrapper {
    padding: 20px 0;
}
.login-wrapper-forget{
  padding: 0;
}
.login-content h1 {
    font-size: 25px;
}
.login-wrapper-forget h1 {
    font-size: 22px;
}
  }
  