.service_card {
  z-index: 1;
  position: relative;
  padding: 0 100px;
}
.yellow_filter{
  width: 345.517px;
height: 345.517px;
border-radius: 345.517px;
background: #CCEA54;
filter: blur(232px);
position: absolute;
right: -200px;
top: -100px;
}
.service_card_items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 20px 30px;
  position: relative;
  border-radius: 50px;
  margin-top: 50px;
  box-shadow: #952ef6 15px 15px 0px -2px, #5d6aef 0px 0px 0px 2px;
}
.service_card_item {
  padding: 23px;
  transition: 0.3s;
  height: 100%;
  cursor: pointer;
}
.service_card_item .service_title {
  font-size: 22px;
  font-weight: 800;
  transition: 0.3s;
}
.service_card_head {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.service_card_head span {
  background: linear-gradient(180deg, #5d6aef 0%, #952ef6 100%);
  color: var(--white-color);
  font-size: 22px;
  font-weight: 800;
  display: flex;
  padding: 12px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1340px) {
  .service-card {
    padding: 0 10px;
  }
}

@media screen and (max-width: 992px) {
  .service_card_item {
    padding: 5px;
  }
  .service_card {
    padding: 0 10px;
  }
  .service_card_items {
    grid-template-columns: 1fr 1fr;
  }
  .yellow_filter{
 display: none;
  }
}

@media screen and (max-width: 768px) {
  .service_card_items {
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px 20px;
    position: relative;
    border-radius: 18px;
    margin-top: 50px;
    margin: 50px 20px 0 10px;

  }
  .service_card_item .service_title {
    font-size: 19px;
  }
  
}
