
.work_place{

}
.work_place_header{
    display: flex;
    align-items: center;
    gap: 10px;
}
.work_place_item{
  background: #F4F4F4;
  color: #2B2B2B;
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 18px; 
  font-weight: 700;
}
.work_place_item.active{
    background: var(--main-color);
    color: var(--white-color);
}
/* .work_place_header{ */
.work_place_content_item{
    display: none;
}
.work_place_content_item.active{
    display: block;
}
.work_place_content_wrapper{
    margin-top: 60px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 20px;
   align-items: center;
   justify-content: center;
}
.work_place_content_left h1{
font-size: 50px;
font-weight: 900;
color: var(--black-color);
line-height: 140%;
margin-bottom: 20px;
}
.work_place_content_left a{
    background: var(--main-color);
    padding: 15px 30px;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 50px;

}

.work_place_content_right{
    justify-content: center;
    align-items: center;
    display: flex;
    width: auto;
    height: auto;
    margin-left: 0;
    position: relative;
    background: var(--white-color);
    z-index: 1;
    border-radius: 20px;
    box-shadow: #952ef6 10px 10px 0px 1px, #952ef6 0px 0px 0px 3px;
}
.button_replay{
    color: #fff;
    cursor: pointer;
    background-color: #0057da;
    border-radius: 3.6875rem;
    padding: 0.25rem 1rem;
    font-family: Public Sans,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 150%;
    transition: background-color .3s cubic-bezier(.47,0,.745,.715);
    display: flex;
    position: absolute;
    top: auto;
    bottom: -5%;
    left: -10%;
}
.scale_tabs_code_snippet{
    z-index: 4;
    color: #000;
    background-color: #020202;
    border-radius: 1rem;
    padding: 1.5rem 1.6875rem 1.5rem 1.5rem;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 1.3125rem;
    left: -40%;
    right: auto;
}
.scale_tab_code_numbers_container {
    color: rgba(255,255,255,.4);
    font-size: 1rem;
    line-height: 150%;
}
.scale_tabs_code_container{
    color: #fff;
    letter-spacing: -.2px;
    margin-left: 0.5rem;
    font-size: 1rem;
    line-height: 150%;
}
.nft_tab_cover{
    width: 100%;
    height: 24px;
    white-space: nowrap; 
    background-color: #000;
    overflow: hidden;
}
.text_color_code_green{
    color: #1cfb4d;
}
.text_color_pink{
    color: #f5e;
}